{% extends "friends.html" %}
{% block a %}
    <title>Поступисшия заявки в друзя</title>
{% endblock %}
{% block b1 %}
<table>
    {% if context_data == 'Ничего не найдено' %}
        <tr><td>{{ context_data }}</td></tr>
    {% else %}
        {% for i in context_data %}
    <tr>
        <td>{{ i.1 }} {{ i.2 }} {{ i.3 }} {{ i.4 }}<a href="/anyuser?id={{i.0}}" target="_blank"> Посмотреть</a></td>
        <td><a href="/incomefriends?user1_id={{i.0}}ok">/ Согласиться</a></td>
        <td><a href="/incomefriends?user1_id={{i.0}}no">/ Отказаться</a></td>
    </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}
