<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block a %}
    <title>Social network</title>
    {% endblock %}
</head>
<body>
{% if user.is_authenticated %}

<td ><a href="/mypage/">Моя страница </a></td>
-
<td ><a href="/friends/">Друзья </a></td>
-
<td ><a href="/search/">Поиск </a></td>
-
<td><a href="/logout/">Выйти ({{user.username}})</a></td>

{% block b %}{% endblock %}

{% else %}
<a href="/register/">Ригистрация</a>
<a href="/login/">Войти</a>
<p>{{ x }}</p>

{% endif %}

</body>
</html>